<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LL(1) Parser</title>
</head>
<body>
  <h1>LL(1) Parser</h1>
  <form action="/" method="POST">
    <label for="grammar">Enter the grammar (separate each literal by a space):</label><br />

    <textarea id="grammar" name="grammar" rows="7" cols="40">{% if grammar_body %}{{ grammar_body }}
    {% else %}S -> A B C
A -> a b A | a b
B -> b | B C
C -> c | c C
      {% endif %}
    </textarea><br />
    <button>Submit</button>
  </form>
  {% if left_recursion_free_grammar %}
    <h2>
      After removing left recursion:
    </h2>
    <p>
      {% for rule in left_recursion_free_grammar %}
      <p>
        {{ rule }}
      </p>
      {% endfor %}
    </p>
  {% endif %}
  {% if left_factored_grammar %}
    <h2>
      After left factoring:
    </h2>
    <p>
      {% for rule in left_factored_grammar %}
      <p>
        {{ rule }}
      </p>
      {% endfor %}
    </p>
  {% endif %}
  {% if first and follow %}
    <h2>First and Follow Table</h2>
    <table border="1">
      <thead>
        <th>Non-terminals</th>
        <th>First</th>
        <th>Follow</th>
      </thead>
      <tbody>
        {% for nt in non_terminals %}
        <tr>
          <td>
            {{ nt }}
          </td>
          <td>
            {{ first[nt] | join(', ' | safe) }}
          </td>
          <td>
            {{ follow[nt] | join(', ' | safe) }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% if parse_table %}
    <h2>Parse Table</h2>
    <table border="1">
      <thead>
        <th>Non-terminals/terminals</th>
        {% for t in terminals %}
          {% if not t == "ε" %}
            <th>{{ t }}</th>
          {% endif %}
        {% endfor %}
        <th>$</th>
      </thead>
      <tbody>
        {% for nt in non_terminals %}
        <tr>
          <th>
            {{ nt }}
          </th>
          {% for t in terminals %}
            {% if not t == "ε" %}
              <td>
                {% if parse_table[nt][t] %}
                  {{ parse_table[nt][t] }}
                {% else %}
                  <span style="color: red">Error</span>
                {% endif %}
              </td>
            {% endif %}
          {% endfor %}
          <td>
            {% if parse_table[nt]["$"] %}
              {{ parse_table[nt]["$"] }}
            {% else %}
              <span style="color: red">Error</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</body>
</html>
